<html>
	<head>
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/megaserver.js"></script>		
	</head>
	<body>
		<div>
			<input type='button' value='Connect' onmouseup="connect_callback()"/>
			<select id="baudrate">
				<option value="9600">9600</option>
				<option value="19200">19200</option>
				<option value="38400">38400</option>
				<option value="76800">76800</option>
				<option value="230400">230400</option>				
			</select>
		</div>
	</body>
</html>
